<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sheepback.mapper.AdminMapper">


    <select id="loginAdmin" resultType="sheepback.Dtos.AdminDto">
        select admin_id, name
        from admin
        where admin_id = #{adminId} and password = #{password}
    </select>
</mapper>