<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sheepback.mapper.stockReservationMapper">


    <insert id="insertReservation"
            parameterType="sheepback.Dtos.StockReservation"
            useGeneratedKeys="true"
            keyProperty="reservationId">
        INSERT INTO stock_reservation (item_detail_id, member_id, quantity, expire_at)
        VALUES (#{StockReservation.itemDetailId}, #{StockReservation.memberId},
                #{StockReservation.quantity}, #{StockReservation.expireAt})
    </insert>
    <update id="confirmReservation">
    UPDATE stock_reservation
    SET status = 'CONFIRMED'
    WHERE item_detail_id = #{itemDetailId} and member_id = #{memberId} and quantity = #{stockQuantity}
    AND status = 'HOLD';
    </update>
    <update id="cancelReservation">
        UPDATE stock_reservation
        SET status = 'CANCELED'
        WHERE
            item_detail_id = #{itemDetailId}
          AND member_id = #{memberId}
          AND quantity = #{quantity}
          AND status = 'HOLD'  -- ✅ 추가: 예약 상태가 'RESERVED'인 경우만 취소
            ORDER BY expire_at DESC
    LIMIT 1  -- ✅ 추가: 가장 최근 예약 1개만 취소
    </update>
    <!-- ReservationMapper.xml -->
    <select id="findReservationStatus" resultType="String">
        SELECT status
        FROM stock_reservation
        WHERE
            member_id = #{memberId}
          AND item_detail_id = #{itemDetailId}
          AND quantity = #{quantity}
        ORDER BY expire_at DESC
            LIMIT 1
    </select>

    <select id="findReservationItemDetailId" resultType="java.lang.Long">
        select st.item_detail_id
        from stock_reservation st
        where st.resevation_id = #{reservationId}
    </select>

</mapper>
